.register-form {
  display: flex;
  flex-direction: column;
  border-radius: 25px 25px 0 0;
  width: 375px;
  height: 549px;
  background: rgba(133, 170, 159, 0.1);
  align-items: center;
  padding: 32px 16px 57px 16px;
}

.register-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 30px;
  line-height: 107%;
  letter-spacing: -0.02em;
  color: var(--black);
}

.register-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(18, 20, 23, 0.8);
}

.inputs-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 343px;
  height: 196px;
  margin-top: 16px;
}

.register-inputs {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 15px;
  padding: 16px 18px 16px 18px;
  width: 343px;
  height: 56px;
}

.error-container {
  position: absolute;
  height: 10px;
  color: red;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 62px 0 0 0;
}

.register-btn {
  border-radius: 30px;
  padding: 16px 139px;
  width: 343px;
  height: 56px;
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  background: var(--green);
  border: none;
}

.register-btn:hover {
  background: #a5c0b8;
  transition-delay: 0.15s;
  transition-duration: 500ms;
}

.login-btn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: rgba(18, 20, 23, 0.5);
  background: transparent;
  border: none;
}

.login-btn:hover {
  color: #121417;
  transition-delay: 0.15s;
  transition-duration: 500ms;
}
